/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.wrapper {
  background-color: #efeff1;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 40px;
  background-color: #a970ff;
  color: #ffffff;
  font-weight: 600;
}

@media (max-width: 1400px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.site-name {
  font-size: 30px;
}

@media (max-width: 1400px) {
  .site-name {
    margin-bottom: 24px;
    text-align: center;
  }
}

.games-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1400px) {
  .games-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.games-list__item {
  padding: 0 15px;
  font-size: 20px;
  line-height: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

.games-list__item:hover {
  cursor: pointer;
  background-color: #9147ff;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .games-list__item {
    margin: 10px 0;
    width: 90%;
    text-align: center;
  }
}

.games-list__item.active {
  background-color: #9147ff;
}

.streams-block {
  max-width: 1400px;
  margin: 0 auto;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px;
  min-height: 100vw;
}

.streams-block__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.streams-block__text {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.streams-list {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .streams-list {
    width: 100%;
  }
}

.streams-list__item {
  width: 28%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0.8% 50px 0.8%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.streams-list__item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: -8px 8px 3px 0px #a970ff;
          box-shadow: -8px 8px 3px 0px #a970ff;
}

@media (max-width: 992px) {
  .streams-list__item {
    width: 38%;
  }
}

@media (max-width: 768px) {
  .streams-list__item {
    width: 100%;
  }
}

.stream-image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.stream-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7f8;
  padding: 8px;
  height: 60px;
}

.stream-info__logo {
  width: 50px;
  height: 50px;
  margin-right: 4%;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.stream-info__content {
  width: 76%;
}

.status {
  margin-bottom: 10px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
  font-size: 14px;
}
/*# sourceMappingURL=all.css.map */